[Unit]
Description=Pi-Hole Exporter for Prometheus
Requires=network.target
After=pihole-FTL.service

[Service]
Type=simple
ExecStart=/opt/bin/pihole_exporter -pihole_password nomoresecrets -port 9617

[Install]
WantedBy=multi-user.target
